body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bebas Neue', sans-serif; 
    position: relative;
    transition: background-color 0.4s ease; 
}

.additional-name {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    opacity: 1;
    color: #6C3428;
    background-color: transparent;
    position: absolute;
    top: 200px; /* Adjust the top position as needed */
    left: 230px; /* Center the text horizontally */
    transform: translateX(-50%); /* Center the text horizontally */
    transition: color 0.4s ease;
}

.additional-name2 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    opacity: 1;
    color: #6C3428;
    background-color: transparent;
    position: absolute;
    top: 280px; /* Adjust the top position as needed */
    left: 300px; /* Center the text horizontally */
    transform: translateX(-50%); /* Center the text horizontally */
    transition: color 0.4s ease;
}

.additional-name3 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    opacity: 1;
    color: #6C3428;
    background-color: transparent;
    position: absolute;
    top: 360px; /* Adjust the top position as needed */
    left: 245px; /* Center the text horizontally */
    transform: translateX(-50%); /* Center the text horizontally */
    transition: color 0.5s ease;
}



/* name */
.content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
    z-index: 2;
}

h1.name {
    font-size: 40000000px;
    color: transparent; 
    -webkit-text-stroke: 2px #000; 
    text-align: center;
    white-space: nowrap;
    position: relative;
    animation: moveName 1s linear infinite; /* Horizontal animation*/
    margin-right: 100%; 
    filter: blur(4.5px); 
}

/* text animations */
@keyframes moveName {
    0% {
        transform: translateX(100%); /*right*/
    }
    100% {
        transform: translateX(-100%); /*left*/
    }
}

/*background*/
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color, #F8F6F4); 
}

/* The switch */
.switch {
    font-size: 17px;
    position: fixed;
    top: 23px;
    right: 20px;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    cursor: pointer; 
    z-index: 3; 
}

/*  hide html checkbox */
.switch input {
    display: none; 
}

/* slider container */
.slider {
    width: 50px;
    height: 26px;
    background-color: #000;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.4s ease; 
}

/* Style for the slider  */
.switch input:checked + .slider {
    background-color: #EFE1D1;
}

/* slider thumb */
.slider:before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(40deg, #65451F, #6C3428 70%);
    position: absolute;
    left: 0;
    transition: transform 0.4s ease; 
}

/*  transition for the slider position */
.switch input:checked + .slider:before {
    transform: translateX(25px); 
}

/* Btn styles */
.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
    z-index: 4; 
    transition-duration: .4s;
    
  }
  

  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }
  
  /* LinkedIn and Gmail button styles */
.linkedin-button, .gmail-button {
    
    width: 45px; /* Adjust the button width as needed */
    height: 45px; /* Adjust the button height as needed */
    left: 70px; /* Adjust the button left position as needed */
    transition-duration: .4s;
}

.github-button {
    width : 45px;
    height : 45px;
    left: 20px;
    transition-duration: .4s;
}


.linkedin-button {
    
    top: 20px;
    left: 70px;
    background-color: #0077B5; /* LinkedIn blue color */
}

.gmail-button {
   
    top: 20px;
    left: 120px;
    background-color: #D14836; /* Gmail red color */
}

.Btn.github-button:hover ~ .linkedin-button {
    transform: translateX(70px);
}
.Btn.github-button:hover ~ .gmail-button {
    transform: translateX(70px);
}


/* LinkedIn button hover effect on Gmail button */
.Btn.linkedin-button:hover ~ .gmail-button {
    transform: translateX(65px); /* Shift Gmail button to the right when hovering over LinkedIn */
}




/* LinkedIn and Gmail button hover effect */
.linkedin-button:hover .text {
    color: #F8F6F4; /* Change to your desired hover color */
}

.gmail-button:hover .text {
    color: #F8F6F4; /* Change to your desired hover color */
}

/* Center the text within LinkedIn and Gmail buttons */
.linkedin-button .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gmail-button .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Set icons as background images and position them */
.linkedin-button .icon,
.gmail-button .icon {
    display: block;
    width: 24px; /* Adjust icon size as needed */
    height: 24px; /* Adjust icon size as needed */
    background-repeat: no-repeat;
    background-position: center center;
}

.linkedin-button .icon {
    background-image: url('linkedin.jpg'); /* Add LinkedIn icon image */
}

.gmail-button .icon {
    background-image: url('gmail.jpg'); /* Add Gmail icon image */
}


/* Hide icons on hover */
.Btn.linkedin-button:hover .icon,
.Btn.gmail-button:hover .icon {
    opacity: 0; /* Hide the icon on hover */
}


.box {
    width: 140px;
    height: auto;
    float: right;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    color: #65647C;
    margin-left: 1190px;
    margin-top: 10px;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: scale(0.9);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }